.listview__item {
  display: inline-block;
  padding: 6px 13px;
  background: #fff;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.listview__item:first-child {
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

.listview__item-active {
  background-color: #f3f9fc;
}

.listview__item:last-child {
  border-radius: 0 5px 5px 0;
}

.listview__list {
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.listview__link {
  text-decoration: none;
  color: #000b79;
  /*color: #f3f9fc;*/
}
