.favorites {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.favorites__container {
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  width: 70%;
  max-height: 100%;
  overflow-y: auto;
  overflow: scroll;
}

.favorites__exit::before {
  position: fixed;
  font-size: 40px;
  color: #aaa;
  right: 2%;
  top: 1%;
  content: "X";
}

.favorite__input {
  padding: 10px 5px;
  font-size: 1em;
  outline: none;
}

.favorites__search {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
